.total {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 600px;
    margin-left: 500px;
    margin-top: 50px;
}

.lines {
    display: flex;
    margin: 0px 100px;
    margin-top: 10px;
    border: 1px solid #000;
    width: 399px;
    height: 30px;
}

.number {
    display: inline-block;
    border-right: 1px solid #000;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.deletebtn {
    display: inline-block;
    border-left: 1px solid #000;
    width: 80px;
    height: 30px;
    margin-left: 285px;
    text-align: center;
    line-height: 30px;
}

.addbtn {
    border: 1px solid #000;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    align-self: flex-end;
    color: #fff;
    background-color: forestgreen;
    margin-bottom: 15px;
}
.bt {
    text-align: center;
}
.nav {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.nav:hover {
    background-color: #008CBA;
    color: white;
}

.nav {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
